.bgimage {
  background-image: asset-data-url('bus.jpg');
  background-position: center center;
  background-size: cover;
  height: 200px;
}

.title {
  color: #cc0000;
  text-shadow: 2px 2px #006600;
}
