<h1>Jon's Word Ladder</h1>
<hr>
<p>
Fill in each step with a word that differs from the word in the previous step by no more than one character. Once you reach a word that differs from the goal by only one letter, you can stop and leave the remainder of the steps empty.
</p>
<br><br>

